.trashIcon {
    width: 24px;
    fill: var(--color-secondary);
}

.wrap {
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px;
    margin: 0 auto;

    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(252, 94, 94);

    aspect-ratio: 1;
}