.table {
    width: 100%;
}

.table thead tr {
    /* background-color: red; */
    padding-bottom: 16px;
}

.body {
    text-align: center;
}

.row {
    padding: 4px 0;
    position: relative;
}

.row:after {
    content: '';
    
    width: 90%;
    height: 2px;
    
    margin: 0 auto;

    position: absolute;
    bottom: 0;
    left: 0;
    
    background-color: rgba(255, 255, 255, 0.1);
}

.cell {
    border-bottom: 0.5 solid rgba(255, 255, 255, 0.9);
}