.formComponent {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 8px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}


.formButton {
    padding: 8px;
    border: none;
    border-radius: var(--radius-default);
    box-shadow: var(--shadow-default);
}