.wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    flex-direction: column;
}

.value {
    font-size: xx-large;
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    gap: 24px;
    width: 100%;
}

.icon {
    /* border: 2px solid; */
    cursor: pointer;
    width: calc( 4px * 13 );
}