.wrap {
    height: 90vh;
    width: 100%;
}

.main {
    padding: 40px 0;
    width: 100%;
    min-height: 100%;
    flex-grow: 1;
    overflow: scroll, hidden;
}

.headerWrap {
    
    background-color: blue;
    width: 100%;

    .header {
        justify-content: space-between;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    background-color: blue;
    width: 100%;
    
}